@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
  color-scheme: dark;
}

body {
  background-color: #000000;
}

.red-gradient {
  background: linear-gradient(92deg, #ff0904 2.87%, #880010 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-family: 'Gloria Hallelujah';
  letter-spacing: 2.5px;
}
